:root {
  /* Paleta de cores - Tema Claro */
  --roxo-principal: #b450f5;
  --roxo-claro: #d89ffd;
  --roxo-mais-claro: #e7cef6;
  --preto: #303030;
  --cinza-escuro: #545454;
  --cinza: #a6a6a6;
  --bege: #f5e9dc;
  --bege-escuro: #e1d5c7;
  --bege-claro: #f5e9db;
  --amarelo: #edbd44;
}

.category-card-costurar-atribut {
  display: flex;
  width: max-content;
  min-width: 300px;
  background-color: var(--roxo-claro);
  border-radius: 20px;
  text-align: center;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  margin: 40px 0 30px 50px;
}

.title {
  text-align: center;
}

.category-text {
  width: 100%;
  text-align: left;
}

.category-icon {
  scale: 0.8;
  width: max-content;
}

.top {
  justify-content: space-between;
}

.icon_header {
  display: flex;
  gap: 5px;
}

.list-precos {
  height: auto;
  width: 50%;
  margin: 0px auto 100px auto;
  border: solid 3px var(--roxo-claro);
}

.list-precos li {
  display: grid;
  grid-template-columns: 40px;
  grid-template-rows: 40px;
  gap: 0px;
  background-color: var(--bege-escuro);
  height: 100px;
  width: auto;
  margin: 5px;
}

.list-precos li p {
  display: flex;
  font-size: 25px;
  height: min-content;
  margin: auto auto;
}

.list-precos li img {
  display: flex;
  grid-row: span 2 / span 2;
  margin: auto 10px;
  width: 80px;
  padding: 5px;
  background: white;
  border-radius: 6px;
  height: 80px;

}

.list-precos input {
  width: 250px;
  height: 30px;
  border-radius: 8px;
}

.valor_list {
  display: flex;
  justify-content: center;
  height: min-content;
  grid-column-start: 2;
  gap: 10px;
  align-items: center;
  margin: auto;
}

.valor_list p {
  width: min-content;
}

.valor_list input {
  width: 300px;
  text-align: center;
}

.valor_list button {
  background-color: var(--roxo-principal);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.valor_list button:hover {
  background-color: var(--roxo-claro);
}