html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}


body {
  background-image: url(design/images/ZigZagwpp.png);
}

button {
  background-color: #b450f5;
  color: antiquewhite;
  width: 20rem;
  height: 2.5rem;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  font-family: "Iansui";
  margin-bottom: 20px;
}

.cadastro {
  color: #b450f5;
}

.popup {
  background-color: #f5e9dc;
  border-radius: 20px;
  box-shadow: 0 0 60px rgb(95, 95, 95);
  width: 30%;
  padding-top: 40px;
  text-align: center;
  height: 30.5rem;
  margin: 6.5rem auto;
}

.tit_log {
  display: flex;
  justify-content: center;
  font-family: "Iansui";
  color: #b450f5;
  font-weight: bold;
  font-size: 3rem;
}

.insc_log {
  margin: 5rem 0 0 0;

  p {
    margin: 2rem 0 -1rem 5rem;

  }
}

.txt_log {
  display: flex;
  justify-content: left;
  font-family: "Iansui";
  font-weight: bold;
  color: #b450f5;
}

.desc_log {
  display: flex;
  text-align: justify;
  justify-content: left;
  font-size: 0.7rem;
  font-family: "Iansui";
  font-weight: bold;
  width: 20rem;
  color: #b450f5;
}

.input_log {
  display: flex;
  justify-content: center;
  width: 20rem;
  height: 2rem;
  font-family: "Iansui";
  border-color: #b450f5;
  border-radius: 20px;
  background-color: transparent;
  color: grey;
  margin: 0 5rem 1.5rem 5rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

.input_cad {
  display: flex;
  justify-content: center;
  width: 20rem;
  height: 2rem;
  font-family: "Iansui";
  border-color: #b450f5;
  border-radius: 20px;
  background-color: transparent;
  color: grey;
  margin: 0 5rem 1.5rem 5rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

.insc_cad {
  margin: 1rem 0 0 0;

  p {
    margin: 1rem 0 -1rem 5rem;

  }
}

input[type=submit] {
  background-color: #b450f5;
  color: antiquewhite;
  width: 20rem;
  height: 2.5rem;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  font-family: "Iansui";
  margin-bottom: 20px;

}