:root {
  /* Paleta de cores - Tema Claro */
  --roxo-principal: #b450f5;
  --roxo-claro: #d89ffd;
  --roxo-mais-claro: #e7cef6;
  --preto: #303030;
  --cinza-escuro: #545454;
  --cinza: #a6a6a6;
  --bege: #f5e9dc;
  --bege-escuro: #e1d5c7;
  --bege-claro: #f5e9db;
  --amarelo: #edbd44;
}

.category-card-costurar-atribut {
  display: flex;
  width: max-content;
  min-width: 300px;
  background-color: var(--roxo-claro);
  border-radius: 20px;
  text-align: center;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  margin: 40px 0 30px 50px;
}

.title {
  text-align: center;
}

.category-text {
  width: 100%;
  text-align: left;
}

.category-icon {
  scale: 0.8;
  width: max-content;
}

.top {
  justify-content: space-between;
}

.icon_header {
  display: flex;
  gap: 5px;
}

.detalhes-servico {}

.list-precos {
  height: auto;
  width: 50%;
  margin: 0px auto 100px auto;
  border: solid 3px var(--roxo-claro);
}

.list-precos li {
  align-items: center;
  background-color: var(--bege-escuro);
  min-height: 100px;
  width: auto;
  margin: 5px;
  align-items: center;
  display: flex;
}

.list-precos li p {
  display: flex;
  font-size: 25px;
  height: min-content;
  margin: auto auto;
}

.list-precos li img {
  display: flex;
  margin: auto 10px;
  width: 80px;
  padding: 5px;
  background: white;
  border-radius: 6px;
  height: 80px;

}

.list-precos input {
  width: 250px;
  height: 30px;
  border-radius: 8px;
}

.botao-salvar {
  display: flex;
  justify-content: center;
  height: min-content;
  margin: 7px auto;
  padding: 7px 9px;
  font-size: 25px;
  background-color: var(--roxo-principal);
  color: var(--bege-claro);
  width: 100px;
  border: none;
  border-radius: 8px;
}